@model long
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link href="~/assets/css/codemirror.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/ace.min.css" />
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />
    <link href="~/css/details.css" rel="stylesheet" />
    <link href="~/css/page.css" rel="stylesheet" />
    <script src="~/assets/js/jquery.min.js"></script>
    <!--[if IE]>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <![endif]-->
    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='/assets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
    </script>
    <!-- <![endif]-->
    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script type="text/javascript" src="~/js/vue.min2.5.16.js"></script>
    <script type="text/javascript" src="~/js/vue-resource.min1.5.0.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/typeahead-bs2.min.js"></script>
    <!-- page specific plugin scripts -->
    <script src="~/assets/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/jquery.dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="~/js/H-ui.js"></script>
    <script type="text/javascript" src="~/js/H-ui.admin.js"></script>
    <script src="~/assets/layer/layer.js" type="text/javascript"></script>
    <script src="~/assets/laydate/laydate.js" type="text/javascript"></script>
    <title>订单详情</title>
</head>

<body>
    <div id="app">
        <input type="hidden" id="getId" value="@Model" />
        <div class="form-group col-sm-11">
            <div>订单详情 </div>
            <div>
                <ul id="details-ul">
                    <li class="mt20">基本信息</li>
                    <li class="details-title  clearfix mt10">
                        <div class="fl w20f p5 tc  border1 borderRight-none">订单号：<br /><font v-html="basicInfo.code"></font></div>
                        <div class="fl w20f p5 tc  border1 borderRight-none">订单时间：<br /><font v-html="basicInfo.createTime"></font></div>
                        <div class="fl w20f p5 tc  border1 borderRight-none">订单状态：<br /><font v-html="basicInfo.orderStateName"></font></div>
                        <div class="fl w20f p5 tc  border1 borderRight-none">订单金额：<br /><font v-html="basicInfo.amount"></font></div>
                        <div class="fl w20f p5 tc  border1">支付方式：<br /><font v-html="basicInfo.payTpyeName"></font></div>
                    </li>
                    <li class="mt20">买家信息</li>
                    <li class="details-title  clearfix mt10">
                        <div class="fl w20f p5 tc  border1 borderRight-none">买家账号：<br /><font v-html="buyerInfo.buyerMobile"></font></div>
                        <div class="fl w20f p5 tc  border1 borderRight-none">收货人姓名：<br /><font v-html="buyerInfo.name"></font></div>
                        <div class="fl w20f p5 tc  border1 borderRight-none">收货人电话：<br /><font v-html="buyerInfo.mobile"></font></div>
                        <div class="fl w20f p5 tc  border1 borderRight-none">快递类型：<br /><font v-html="basicInfo.deliver"></font></div>
                        <div class="fl w20f p5 tc  border1">收货人地址：<br /><font v-html="buyerInfo.address"></font></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    var startTime;
    var endTime;
    var vue = new Vue({
        el: "#app",
        data: {
            id: "",
            basicInfo: [],
            buyerInfo: []
        },
        methods: {

        },
        mounted: function () {
            this.id = $("#getId").val();
            this.$http.post('/admin/order/getdetail', { id: this.id }, { emulateJSON: true }).then(function (result) {
                this.basicInfo = result.data.data.basicInfo;
                this.buyerInfo = result.data.data.buyerInfo;
            })
        }
    });
</script>
