
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div style="text-align:center;color:red">
        <h1>欢迎登录！</h1>
        <h1>积分商家管理系统，供积分商圈内的商家使用。祝您生意兴隆！</h1>
        <h1>开发方：浦北启硕网络科技有限公司</h1>
    </div>
</body>
</html>
